html {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: gray;
}

body {
	padding: 5ch;
	background-color: ghostwhite;
	margin-block: 4ch;
}

h1 {
	text-align: center;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

nav>ul {
	inline-size: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-block-start: 4ch;
	border-block-start: solid;
	border-block-start-width: 2px;
}

nav li {
	margin-inline: 1ch;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	border-block-end-style: solid;
	border-block-end-width: 2px;
	padding-block-end: 2ch;
	margin-block-end: 5ch;
}

#mockBtn {
	max-inline-size: 16ch;
	align-self: end;
	margin-inline-end: 5ch;
}

#studentBtnList,
#orgBtnList {
	display: flex;
	flex-wrap: wrap;
}


#studentBtnList li,
#orgBtnList li {
	min-inline-size: 20ch;
	margin-block-end: 2ch;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding-block: 5px;
	margin-inline-end: 5px;
}

#eventList,
#filteredEventList {
	border-block-end-style: solid;
	border-block-end-width: 1px;
	margin-block-end: 5ch;
}

#eventList>li,
#filteredEventList>li {
	display: flex;
	justify-content: end;
	margin-block: 2ch;
}

#listControl>fieldset {
	display: flex;
	justify-content: end;
}

#listControl input {
	margin-inline-start: 2ch;
}

.eventName {
	margin-inline-end: 3ch;
	text-align: end;
}

.eventDate {
	text-align: center;
	min-inline-size: 10ch;
	margin-inline-end: 2ch;
}

.eventParticipants {
	text-align: center;
	min-inline-size: 2ch;
	margin-inline-end: 5ch;
}

#createEvt {
	text-align: center;
	border-style: solid;
	border-width: 1px;
	max-inline-size: 17ch;
	padding-block: 6px;
	padding-inline: 1ch;
}

textarea {
	width: 100%;
}

#eventForm input,
#eventForm textarea {
	display: block;
	margin-block: 2ch;
}

#eventControlBox {
	display: flex;
	justify-content: space-around;
	margin-block-start: 2ch;
	border-block-style: solid;
	border-block-width: 1px;
	padding-block: 2ch;
}

#eventControlBox>a {
	margin-inline: 1ch;
	text-align: center;
}

section ul {
	list-style-type: circle;
	margin-inline-start: 20px
}
